{{#paper-nav-container}}
  <div layout="column" tabindex="-1" role="main" class="body-content" flex>
    {{#paper-toolbar}}
      <div class="toolbar">
        <img class="logo" src="../images/logo.png">
      </div>
    {{/paper-toolbar}}
    {{outlet}}

  </div>
{{/paper-nav-container}}
